{% extends "layout.html" %}

{% block content %}

    <!-- body -->
    <div class="container">
        <div id="page-zero" class="section-container">
            <img id="pfp" src="../static/images/headshot.jpg">
            <!-- socials -->
            <div id = "socials">
                <img class="icon" src="../static/images/githubdoodleicon.png" alt="">
                <a class="iconlink" href="https://github.com/johnkang54">Github</a> 
                <img class="icon" src="../static/images/linkedin-logo-square2-webtreatsetc-300x300.png">
                <a class="iconlink" href="https://www.linkedin.com/in/johnzkang/">Linkedin</a> 
                <img class="icon" src="../static/images/resumeicon.png">
                <a class="iconlink" href="https://drive.google.com/file/d/1VjgPzLefFc9y4kuWVlZGJUpBoZ6z-Sg6/view?usp=sharing">Resume</a>
            </div>
        </div>

        <!-- add form tag here and bounce ideas in different colors off the walls -->

        <!-- about -->
        <div id="page-one" class="section-container">
            <hr>
            <h1>About Me</h1>
            <p>Name: {{current_user.name}}</p>
            <p>Age: {{current_user.age}}</p>
            <p>Location: {{current_user.location}}</p>
            <p>Education: {{current_user.education}}</p>
            <p>Interests: {{current_user.interests}}</p>
            <p>Skills: {{current_user.skills}} </p>
            {%if session['email'] == 'johnkang03@gmail.com' %}
                <a class="btn btn-warning"href="{{url_for('index_edit')}}">Edit</a>
            {%endif%}
            <img class="sectionimg" src="../static/images/aboutmesmile.png">
        </div>

        <!-- projects -->
        <div id="page-two" class="section-container">
            <hr>
            <h1>Projects</h1>
            {% for p in list_of_projects %}
                <div class="card">
                    <img class="card-img-top" src="{{p.image_url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{p.title}}</h5>
                        <p class="card-text">{{p.description}}</p>
                        <a href="{{p.github_url}}" class="btn btn-primary">Github link</a>
                        {%if session['email'] == 'johnkang03@gmail.com' %}
                            <br>
                            {% set index = p.index %}
                            <a class="btn btn-danger"href="{{url_for('project_delete',index=index)}}">Delete</a>
                        {%endif%}
                    </div>
                </div>
            {%endfor%}
            {%if session['email'] == 'johnkang03@gmail.com' %}
                <br>
                <a class="btn btn-success"href="{{url_for('project_add')}}">Add</a>
            {%endif%}
            <img class="sectionimg" src="../static/images/rocket.png">
        </div>

        <!-- contact -->
        <div id="page-three" class="section-container">
            <hr>
            <h1> Contact Me</h1>
            <p>Email:<a href = "mailto:{{current_user.email}}">johnkang03@gmail.com</a> </p>
            <form name="{{url_for('email')}}" action="{{url_for('email')}}" method="post" novalidate>
                <fieldset class = "form-group";>
                    {{form.hidden_tag()}}
                    <p>
                        {{form.contacter.label}} <br>
                        {{form.contacter}}
                        {%for error in form.contacter.errors%}
                            <span class="error-message">{{error}}</span>
                        {%endfor%}
                    </p>
                    <p>
                        {{form.message.label}} <br>
                        {{form.message}}
                        {%for error in form.message.errors%}
                            <span class="error-message">{{error}}</span>
                        {%endfor%}
                    </p>
                    <p>
                        {{form.submit()}}
                    </p>
                </fieldset>
            </form>
            <img class="sectionimg" src="../static/images/contactdoodle.png">
        </div>

    </div>
{% endblock %}
