<!DOCTYPE html>
<html>
<head>
    <title>John Kang</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="../static/js/singlePageScrollNav.js"></script>
</head>
<body>
    <!-- header -->
    <nav>
        <a href="#page-zero">Home</a>
        <a href="#page-one">About Me</a>
        <a href="#page-two">Projects</a>
        <!-- <a href="#page-three">NFT</a> -->
        <a href="#page-three">Contact</a> 
        <span class = "pull-right">
            <a href="/">Login</a> 
        </span>
    </nav>

    <!-- body -->
    <div class="container">
        <div id="page-zero" class="section-container">
            <img id="pfp" src="../static/images/headshot.jpg">
            <!-- socials -->
            <div id = "socials">
                <img class="icon" src="../static/images/githubdoodleicon.png" alt="">
                <a class="iconlink" href="https://github.com/johnkang54">Github</a> 
                <img class="icon" src="../static/images/linkedin-logo-square2-webtreatsetc-300x300.png">
                <a class="iconlink" href="https://www.linkedin.com/in/johnzkang/">Linkedin</a> 
                <img class="icon" src="../static/images/resumeicon.png">
                <a class="iconlink" href="https://drive.google.com/file/d/1VjgPzLefFc9y4kuWVlZGJUpBoZ6z-Sg6/view?usp=sharing">Resume</a>
            </div>
        </div>

        <!-- add form tag here and bounce ideas in different colors off the walls -->

        <!-- about -->
        <div id="page-one" class="section-container">
            <hr>
            <h1>About Me</h1>
            <p>Name: {{current_user.name}}</p>
            <p>Age: {{current_user.age}}</p>
            <p>Location: {{current_user.location}}</p>
            <p>Education: {{current_user.education}}</p>
            <p>Interests: {{current_user.interests}}</p>
            <p>Skills: {{current_user.skills}} </p>
            <img class="sectionimg" src="../static/images/aboutmesmile.png">
        </div>

        <!-- projects -->
        <div id="page-two" class="section-container">
            <hr>
            <h1>Projects</h1>
            {% for p in list_of_projects %}
                <p>{{p}}</p>
            {%endfor%}
            <img class="sectionimg" src="../static/images/rocket.png">
        </div>

        <!-- contact -->
        <div id="page-three" class="section-container">
            <hr>
            <h1> Contact Me</h1>
            <p>Email: {{current_user.email}} </p>
            <img class="sectionimg" src="../static/images/contactdoodle.png">
        </div>

    </div>
    <!-- footer -->
    <footer>
        Copyright &copy;2022. John Kang.
    </footer>

</body>
</html>
