 <!-- header -->
 <nav>
    <a href="{{ url_for('index') }}">Home</a>
    <a href="#page-one">About Me</a>
    <a href="#page-two">Projects</a>
    <!-- <a href="#page-three">NFT</a> -->
    <a href="#page-three">Contact</a> 
    {%if not session['username']%}
    <span class = "pull-right" style = "padding-right: 2em;">
        <a href="{{ url_for('register') }}">Register</a>
    </span>
    <span class = "pull-right" style = "margin-right: 5%;">
        <a href="{{url_for('login')}}">Login</a> 
    </span>
    {%else%}
    
    <span class = "pull-right" style = "padding-right: 2em;">
        <a href="{{ url_for('logout') }}">Logout</a>
    </span>

        {%if session['username'] %}
        <span class="pull-right" style = "margin-right: 5%;"> 
            Welcome, {{session['username']}}
        </span>
        {%endif%}

    {%endif%}
</nav>